.marketHeading {
    margin: 0;
    border-bottom: 3px solid black;
}

.marketTop {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px;
}

.marketSpan {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.buy {
    height: 200px;
    width: 200px;
    border: 2px solid black;
}

.sell {
    height: 200px;
    width: 200px;
    border: 2px solid blue;
}