.marketHeading {
    margin: 0;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #ffc700;
}

.marketTop {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px;
}

.marketSpan {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.buy {
    height: 500px;
    width: 50%;
    float: left;
    border: 2px solid black;
}

.sell {
    height: 500px;
    width: 50%;
    float: left;
    border: 2px solid black;
}

.buyHeader, .sellHeader {
    text-align: center;
    border-bottom: 2px solid black;
}

.text-info-emphasis {
   line-height: 4.0;
}